@model DatabaseBackupManager.Data.Models.Server

<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-select" required asp-items="Enum.GetValues<DatabaseTypes>().Select(x => new SelectListItem(x.ToString(), x.ToString()))">
                <option value="">-- Select database type --</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="alert alert-info">
            <p>
                For SQLite databases, the <strong>Host</strong> field should be the path to the database file. <br/>
                Password can be set in the <strong>Password</strong> field.<br/>
                All others fields should set to any values
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="Host" class="control-label"></label>
            <input asp-for="Host" class="form-control" required />
            <span asp-validation-for="Host" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label asp-for="Port" class="control-label"></label>
            <input asp-for="Port" class="form-control" required min="1" max="65535" />
            <span asp-validation-for="Port" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="User" class="control-label"></label>
            <input asp-for="User" class="form-control" required />
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
</div>

